In [2]:
import pandas as pd
import numpy as np

In [3]:
N = 1000
df2 = pd.DataFrame({'A': range(1, N + 1, 1)})
df2['B'] = df2['A']*2
print(df2)

ndarray1 = make_ndarray_from_dataframe(df2, ['A', 'B'])
print(ndarray1)

        A     B
0       1     2
1       2     4
2       3     6
3       4     8
4       5    10
5       6    12
6       7    14
7       8    16
8       9    18
9      10    20
10     11    22
11     12    24
12     13    26
13     14    28
14     15    30
15     16    32
16     17    34
17     18    36
18     19    38
19     20    40
20     21    42
21     22    44
22     23    46
23     24    48
24     25    50
25     26    52
26     27    54
27     28    56
28     29    58
29     30    60
..    ...   ...
970   971  1942
971   972  1944
972   973  1946
973   974  1948
974   975  1950
975   976  1952
976   977  1954
977   978  1956
978   979  1958
979   980  1960
980   981  1962
981   982  1964
982   983  1966
983   984  1968
984   985  1970
985   986  1972
986   987  1974
987   988  1976
988   989  1978
989   990  1980
990   991  1982
991   992  1984
992   993  1986
993   994  1988
994   995  1990
995   996  1992
996   997  1994
997   998  1996
998   999  1998
999  1000  2000

[1000 rows x 2 columns]

NameError: name 'make_ndarray_from_dataframe' is not defined